body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    text-align: center;
}

.prev-button, .next-button {
    position: absolute;
    top:50%;
}

.next-button{
    right: 0%;
}

.top{
    display: flex;
    height: 150px;
    justify-content: center;
    margin-left: 90px;
    margin-right: 90px;
}

iframe {
    width: 60vw;
    height: 100vh;
    margin-left: 10px;
}

nav{
    display: flex;
    align-items: center;
}

.hamburger{
    display: none !important;
    font-size: 20px;
}

.content{
    all: revert;
}

.dropdown {
    display: none;
}

a{
    color: rgb(0, 0, 0);
}

.this-navb-text{
    color: rgb(255, 255, 255);
}

.navb, .this-navb{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
    text-align: center;
}

.navb:hover{
    background-color: rgb(251, 239, 239);
}

.this-navb{
    background-color: rgb(194, 32, 32);
    display: flex;
    flex-direction: column;
}

.hide{
    display: none !important;
}

.carousel{
    display: flex;
    align-items: center;
}

button{
    border-width: 0;
    cursor: pointer;
}

#homepage-carousel, #judo-carousel{
    width: 100%;
}

#homepage-carousel button, #judo-carousel button{
    background-color:rgb(194, 32, 32);
}

#homepage-carousel button:hover, #judo-carousel button:hover{
    background-color:rgb(192, 102, 102);
}

#homepage-carousel .carousel-pic, #judo-carousel .carousel-pic{
    width: 100%;
}

#homepage-carousel, #judo-carousel{
    max-height: 500px;
    overflow: hidden;
}

#homepage-carousel button, #judo-carousel button{
    height: 100px;
    width: 3%;
}

.accordion-btn {
    width: 100%;
    text-align: center;
    font-size: 20px;
}

.bio-section {
    display: flex;
    flex-direction: row;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

.person {
    width: 20vw;
    border: 2px solid black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}

.other-info {
    display: flex;
    flex-direction: row;
    margin: 50px;
}

.club-goal{
    margin-right: 40px;
    max-width: 50%;
    padding: 30px;
}

.updates-dates-and-times{
    width: 20%;
    position: relative;
    left: 200px;
}

.contact-main-box {
    display:flex;
    flex-direction: row;
}

.how-to-join {
    width: 35vw;
    position: absolute;
    right: 10px;
    top: 40vh;
}

.history {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;

}

.links ul {
    list-style-type: none;
}

footer{
    color: #000000;
    background-color:rgb(194, 32, 32);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

a {
    text-decoration: none;
}

@media (max-width: 600px){
    .prev-button, .next-button {
        position: absolute;
        top:30%;
    }

    .carousel-pic {
        height: 250px;
    }

    .wide-nav{
        display:none;
    }

    .hamburger{
        display:contents !important;
    }

    .dropdown {
        all: revert;
        text-align: center;
        font-size: 20px;
    }

    .dropdown p {
        height: 11vh;
        border: black 1px solid;
    }

    .top{
        display: flex;
        height: 150px;
        text-align: center;
    }

    .top img{
        width: auto;
    }

    iframe {
        width: 94%;
    }

    .how-to-join{
        all: revert;
    }

    .contact-main-box{
        flex-direction: column;
    }

    .bio-section {
        all:revert;
        flex-direction: column;
        width: 94vw;
        margin-left: auto;
        margin-right: auto;
    }

    .person {
        padding-left: 0;
        padding-right: 0;
        width: 94vw;
        border-left: 0;
        border-right: 0;

    }
}
