body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.top{
    display: flex;
    height: 150px;
    justify-content:space-between;
}

nav{
    display: flex;
    align-items: center;
}

a{
    color: rgb(0, 0, 0);
}

.this-navb-text{
    color: rgb(255, 255, 255);
}

.navb, .this-navb{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100%;
    text-align: center;
    background-color: rgb(247, 226, 220);
}

.navb:hover{
    background-color: rgb(255, 255, 255);
}

.this-navb{
    background-color: rgb(194, 32, 32);
    display: flex;
    flex-direction: column;
}

.hide{
    display: none !important;
}

.carousel{
    display: flex;
    align-items: center;
    width: 100%;
}

.carousel-pic{
    width: 94%;
}

button{
    height: 50px;
    width: 3%;
}
