/*Sets the body to have no margin and sets font*/
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Sets all h2 to be centered*/
h2 {
    text-align: center;
}

/*Sets link color*/
a{
    color: rgb(0, 0, 0);
}

/*Ensures content is shown when necessary*/
.content{
    all: revert;
}

/*Sets button borders and cursor*/
button{
    border-width: 0;
    cursor: pointer;
}

/*Hides elements with this class*/
.hide{
    display: none !important;
}

/*Creates footer decorations and positioning*/
footer{
    color: #000000;
    background-color:rgb(194, 32, 32);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/*Sets footer text positioning*/
footer p {
    margin-right: 30px;
}

/* TOP AND NAV BAR */
/*Sets the positioning of the top bar (which has the logo and nav)*/
.top{
    display: flex;
    height: 150px;
    justify-content:center;
    align-items: center;
    margin-left: 90px;
    margin-right: 90px;
}

.navb a, .this-navb a {
    text-decoration: none;
}

nav{
    display: flex;
    align-items: center;
}

/*Makes the hamburger/dropdown class base to be invisible*/
.hamburger, .dropdown{
    display: none;
}

.this-navb-text{
    color: rgb(255, 255, 255);
}

/*Sets all nav link positioning*/
.navb, .this-navb{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100%;
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
    font-size: 18px;
}

.navb:hover, .dropdown p:hover{
    background-color: rgb(251, 239, 239);
}

.this-navb{
    background-color: rgb(194, 32, 32);
    display: flex;
    flex-direction: column;
}
/* TOP AND NAV BAR */

/* CAROUSEL CSS */
/*Source: shadow and transform code taken from the Mozilla Firefox developer site*/
/*Centers the main page header and sets decorations*/
.carousel h1 {
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    text-shadow: 2px 2px 1px rgb(194, 32, 32);
    color: white;
    font-size: 7vw;
    margin: 0;
}

/*Indicator CSS*/
.indicators {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    list-style: none;
    display: flex;
    flex-direction: row;
}

.indicator {
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50%;
    max-height: 30px;
    max-width:30px;
    height: 3vw !important;
    width: 3vw !important;
    background-color: rgb(194, 32, 32);
    opacity: .6;
}

.indicators button:hover {
    background-color: grey !important;
}

.inactive {
    background-color: black !important;
}
/*Indicator CSS*/

/*Sets the positoning of the carousel buttons*/
.prev-button, .next-button {
    position: absolute;
    align-items: center;
    transition: 0.4s;
}

.next-button{
    right: 0%;
}

.carousel{
    position:relative;
    display: flex;
    align-items: center;
}

/*Source: Filter element from the Mozilla Firefox Developer Website*/
/*Makes carousel images darker*/
#homepage-carousel .carousel-pic{
    opacity: .8;
    filter: brightness(40%);
}

/*Below sets button decorations*/
#homepage-carousel button, #judo-carousel button{
    background-color:rgb(194, 32, 32);
}

#homepage-carousel button:hover, #judo-carousel button:hover{
    background-color:rgb(192, 102, 102);
}

#homepage-carousel .carousel-pic, #judo-carousel .carousel-pic{
    width: 100%;
}

#homepage-carousel, #judo-carousel{
    width: 100%;
    max-height: 500px;
    overflow: hidden;
}

#homepage-carousel button, #judo-carousel button{
    height: 100px;
    width: 3%;
}
/* CAROUSEL CSS */

/* ACCORDION CSS */
/*Sets accordion decorations*/
.accordion-btn {
    background-color: rgb(194, 190, 190);
    cursor: pointer;
    width: 100%;
    text-align: center;
    transition: 0.4s;
    font-size: 20px;
    font-weight: lighter;
    border-bottom: 2px black solid;
}

/*Sets basic accordion btn content*/
.accordion-btn:after {
    content: '\21E9';
}

/*Sets accordion button content when it is open*/
.active:after {
    content: "\21E7";
}

.acc-dropd {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
    padding-bottom: 10px;
}
/* ACCORDION CSS */


/* INDEX PAGE */
.other-info {
    display: flex;
    flex-direction: row;
    background-color: #ffffff;
}

/*Sets goal positioning*/
.club-goal{
    max-width: 60%;
    padding: 50px;
    margin-top: 50px;
    margin-left: 50px;
}

.club-goal p {
    max-width: 85%;
}

/*Sets aside positioning*/
.updates-dates-and-times{
    padding: 50px;
    background-color: rgb(251, 239, 239);
}

.updates-dates-and-times p, .updates-dates-and-times h3 {
    max-width: 60%;
    margin-left: 50px;
}
/* INDEX PAGE */

/* ABOUT TEAM PAGE */
/*Centers biographies*/
.bio-section {
    display: flex;
    flex-direction: row;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
}

/*Sets individual positionings of the people*/
.person {
    width: 20vw;
    border: 2px solid black;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
}
/* ABOUT TEAM PAGE */

/* ABOUT JUDO PAGE */
.history {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.links {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.history h2 {
    font-size: 30px;
}

.faqs {
    background-color: rgb(236, 232, 232);
}
/* ABOUT JUDO PAGE */

/* CONTACT PAGE */
/*Sets PDF decoration and positioning*/
iframe {
    width: 40vw;
    height: 100vh;
    margin-left: 10px;
}

.joining {
    margin-bottom: 50px;
    font-size: 30px;
}

.how-to-join {
    width: 60%;
    padding-left:50px;
    padding-top: 100px;
    padding-right: 50px;
    background-color: rgb(251, 239, 239);
}

.how-to-join h3 {
    margin-bottom: 20px;
}

.how-to-join dd {
    font-style: italic;
}

.contact-main-box {
    display:flex;
    flex-direction: row;
}

.links {
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

footer{
    color: #000000;
    background-color:rgb(194, 32, 32);
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

footer p {
    margin-right: 30px;
}

.active:after {
    content: "\21E7";
}

@media (max-width: 600px){

    /*Sets PDF width*/
    iframe {
        width: 94%;
    }

    /*Sets contact text positioning*/
    .how-to-join{
        all: revert;
        padding: 10px;
        background-color: rgb(251, 239, 239);
    }

    .contact-main-box{
        flex-direction: column;
    }

    .carousel {
        max-height: 250px;
    }

    .carousel-pic{
        height: 250px;
    }

    .wide-nav{
        display:none;
    }

    .hamburger{
        display:contents;
    }

    #burger img, #closeburger img {
        height: 50px;
        width: auto;
        position: absolute;
        right: 20px;
    }

    .dropdown {
        all: revert;
        text-align: center;
        font-size: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        cursor: pointer;
    }

    .dropdown p {
        color: rgb(255, 255, 255);
        background-color: rgb(194, 32, 32);
        border-bottom: black 2px solid;
        margin: 0;
        width: 100%;
        height: 14.5vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .ham-nav-text{
        color:black;
    }

    .top{
        display: flex;
        height: 150px;
        margin-left: 10px;
        margin-right: 10px;
        justify-content: revert;
    }

    .top img{
        all: revert;
        width: auto;
    }

    .bio-section {
        all:revert;
        flex-direction: column;
        width: 94vw;
        margin-left: auto;
        margin-right: auto;
    }

    .person {
        padding-left: 0;
        padding-right: 0;
        width: 94vw;
        border-left: 0;
        border-right: 0;
        text-align: left;
    }

    .other-info {
        flex-direction: column;
    }

    .updates-dates-and-times, .club-goal {
        all: revert;
    }
    .updates-dates-and-times {
        background-color:rgb(251, 239, 239);
    }

    .club-goal p, .club-goal h3 {
        margin-bottom: 10px;
        margin-left: 50px;
        margin-right: 50px;
    }

    .accordion-btn {
        font-size: 18px;
    }
}

/*Removes transitions on user request*/
@media(prefers-reduced-motion:reduce) {
    .prev-button, .next-button {
        transition: none;
    }

    .accordion-btn {
        transition: none;
    }
}
